<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morandi Dashboard</title>
    <link rel="stylesheet" href="public/materialize/css/materialize.min.css">
    <style>
        body {
            background-color: #2C2F33;
            color: #fff;
        }

        div.nav-wrapper {
            background-color: #7289DA;
        }

        a {
            background-color: #7289DA !important;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Morandi</a>
        </div>
    </nav>

    <h1 class="center-align">Morandi</h1>
    <h5 class="center-align">Morandi is a simple-to-use, multi-functional Discord bot with a web dashobard.</h5>
    <p class="center-align">To start using the dashboard, simply sign using your discord account.</p>
    
    <div class="center">
        <a href="/login" style="margin-top: 30px;" class="waves-effect waves-light btn-large">get started</a>
    </div>
    
    <script src="public/jquery.min.js"></script>
    <script src="public/materialize/js/materialize.min.js"></script>
</body>
</html>