<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morandi Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/public/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/public/materialize/extras/noUiSlider/nouislider.css">
    <link rel="stylesheet" href="/public/style.css">
    <style>
        h4 {
            margin-top: 50px !important;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left" style="margin-left: 15px;">Morandi</a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a class="dropdown-trigger valign-wrapper" href="#!" data-target="userDropdown">
                        <img class="circle" src="{{ user.avatar_url }}">
                        <span>{{ user.username }} <i class="material-icons right">arrow_drop_down</i></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="userDropdown" class="dropdown-content" style="width: 100px !important;">
        <li><a style="width: 200px !important;" href="/dashboard"><span class="material-icons">dns</span> My servers</a></li>
        <li><a style="width: 200px !important;" href="/logout"><span class="material-icons">logout</span> Logout</a></li>
    </ul>

    <div class="center">
        <h2>Leveling</h2>
        <h5>Change your preferences for the leveling system.</h5>
    </div>

    <div class="container center">
        <div id="panel">
            <h4>Leveling system</h4>
            <div class="switch">
                <label>
                    Disabled
                    <input type="checkbox">
                    <span class="lever"></span>
                    Enabled
                </label>
            </div>

            <h4>XP rate</h4>
            <p>The bot will give users <span id="xp-amount"></span> XP each minute they message.</p>
            <div id="xp-slider"></div>
        </div>
    </div>
    
    <script src="/public/jquery.min.js"></script>
    <script src="/public/materialize/js/materialize.min.js"></script>
    <script src="/public/materialize/extras/noUiSlider/nouislider.min.js"></script>
    <script>
        $(".dropdown-trigger").dropdown({constrainWidth: false});
        var slider = document.getElementById('xp-slider');
        noUiSlider.create(slider, {
            start: [20, 80],
            connect: true,
            range: {
                'min': 0,
                'max': 100
            }
        });
    </script>
</body>
</html>